.c {
    text-align: center
}

div,
input {
    font-size: 1em
}

input {
}

body {
    font-family: verdana
}

button {
    border: 0;
    margin: 0.1em;
    border-radius: .3rem;

}

.q {
    float: right;
    width: 64px;
    text-align: right
}

.l {
    background-size: 1em
}

tr:nth-child(even) {
    background: #CCCC
}

tr:nth-child(odd) {
    background: #ffff
}

table {
    border-collapse: collapse;
}

td {
    border: 1px;
    border-color: black;
    border-style: solid;
}
